/* style from resurrect.cx :3c [w/some edits soon */
* {
  margin:0;
  border:0;
  box-sizing:border-box;
  padding:0
}

html {
  background-color:black;
  scrollbar-color:#60606060 #00000000;
  scrollbar-width:2px
}

body {
  margin:auto;
  max-width:1100px;
  min-height:100%;
  padding:1.5rem 3.5rem;
  background-color:black;
  font-size:16px;
  font-family:"Verdana";
  line-height:1.6;
  color:white
}

a {
  color:#80bce9
}

a.button, button {
  background-color:#333;
  color:#999;
  font-family:"Verdana";
  font-size:0.9rem;
  font-weight:bold;
  padding:0.25rem 0.5rem;
  user-select:none;
  text-decoration:none;
}

a.button:hover {
  background-color:#ddd;
  color:#333;
  cursor:pointer;
}

a.button:active {
  color:#999;
}

h1 a {
  color:white
}

h2 {
  margin-bottom:20px
}

.mb {
  margin-bottom:5px
}

header {
  flex-direction:row;
  display:flex;
  margin-bottom:100px
}

#header_left, #header_right {
  max-width:450px
}

#header_left {
  flex-direction:column;
  display:flex;
  gap:16px
}

#header_right {
  margin-left:auto
}

main {
  margin-bottom:50px
}

main p {
  margin-bottom:6px
}

footer {
  flex-direction: column;
  display:flex;
  align-items:center;
  justify-content:center
}

footer a {
  display:inline-block;
  text-decoration:none
}

hr {
  margin:12px 0;
  border-bottom:1px solid #444
}

#news {
  display:flex;
  gap:6px
}

#resurrect_logo, #hack_club_logo {
  margin:8px;
  width:24px;
  height:auto;
  vertical-align:middle
}

#rez {
  width:128px;
  height:auto;
  margin:10px 0;
}

.category {
  margin-bottom:10px
}

.reply {
  margin-bottom:20px
}

.gray {
  color:#999
}

.light-gray {
  color:#ddd
}

@media screen and (max-width: 768px) {
  header {
    flex-direction:column;
    margin-bottom:50px;
    gap:20px
  }
  #header_right {
    margin-left:0
  }
}

/* this css is mine */
label {
  color: #dfdfdf;
  font-style: italic;
}